<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android_renable">


    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_renable"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android_Renable">
        <activity
            android:name="com.example.android_renable.info"
            android:exported="false" />
        <activity
            android:name="com.example.android_renable.addMessages"
            android:exported="false" />
        <activity
            android:name="com.example.android_renable.speech_text"
            android:exported="false" />
        <activity
            android:name="com.example.android_renable.text_speech"
            android:exported="false" />
        <activity
            android:name="com.example.android_renable.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.example.android_renable.informationService" />
    </application>

</manifest>